<%= form_with(model: @electronic_good) do |form| %>
  <% if @electronic_good.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@electronic_good.errors.count, "error") %> prohibited this @electronic_good from being saved:</h2>

      <ul>
        <% @electronic_good.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

 -->

  <div class="field">
    <%= form.label :delivery_address %>
    <%= form.text_field :delivery_address %>
  </div>


  <div class="field">
    <%= form.label :pincode %>
    <%= form.number_field :pincode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>